In [1]:
import pandas as pd

In [2]:
pd.__version__

'2.1.3'

In [3]:
df = pd.read_csv("/workspaces/DE_Zoomcamp2004/yellow_tripdata_2021-01.csv", nrows=100)

In [8]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [10]:
from sqlalchemy import create_engine

In [12]:
engine = create_engine("postgresql://root:root@localhost:5432/ny_taxi")

In [14]:
print(pd.io.sql.get_schema(df, name="yellow_taxi_data", con=engine))

CREATE TABLE yellow_taxi_data (
	"VendorID" BIGINT,
	tpep_pickup_datetime TIMESTAMP WITHOUT TIME ZONE,
	tpep_dropoff_datetime TIMESTAMP WITHOUT TIME ZONE,
	passenger_count BIGINT,
	trip_distance FLOAT(53),
	"RatecodeID" BIGINT,
	store_and_fwd_flag TEXT,
	"PULocationID" BIGINT,
	"DOLocationID" BIGINT,
	payment_type BIGINT,
	fare_amount FLOAT(53),
	extra FLOAT(53),
	mta_tax FLOAT(53),
	tip_amount FLOAT(53),
	tolls_amount FLOAT(53),
	improvement_surcharge FLOAT(53),
	total_amount FLOAT(53),
	congestion_surcharge FLOAT(53)
)

In [32]:
df_iter = pd.read_csv("/workspaces/DE_Zoomcamp2004/yellow_tripdata_2021-01.csv", iterator=True, chunksize=100000)

In [26]:
df = next(df_iter)

In [27]:
len(df)

100000

In [28]:
df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)

In [23]:
df.head(n=0)

Empty DataFrame
Columns: [VendorID, tpep_pickup_datetime, tpep_dropoff_datetime, passenger_count, trip_distance, RatecodeID, store_and_fwd_flag, PULocationID, DOLocationID, payment_type, fare_amount, extra, mta_tax, tip_amount, tolls_amount, improvement_surcharge, total_amount, congestion_surcharge]
Index: []

In [22]:
df.head(n=0).to_sql(name="yellow_taxi_data", con=engine, if_exists="replace")

0

In [29]:
%time df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

CPU times: user 4.26 ms, sys: 4.14 ms, total: 8.4 ms
Wall time: 17.7 ms

5

In [30]:
from time import time

In [33]:
while True:
    t_start = time()
    
    df = next(df_iter)
    print(len(df))

    df.tpep_pickup_datetime = pd.to_datetime(df.tpep_pickup_datetime)
    df.tpep_dropoff_datetime = pd.to_datetime(df.tpep_dropoff_datetime)
    df.to_sql(name="yellow_taxi_data", con=engine, if_exists="append")

    t_end = time()

    print("Imported another chunk, took %.3f second" % (t_end - t_start))

100000
Imported another chunk, took 9.505 second
100000
Imported another chunk, took 9.606 second
100000
Imported another chunk, took 9.516 second
100000
Imported another chunk, took 9.810 second
100000
Imported another chunk, took 9.283 second
100000
Imported another chunk, took 9.385 second
100000
Imported another chunk, took 9.870 second
100000
Imported another chunk, took 9.729 second
100000
Imported another chunk, took 9.678 second
100000
Imported another chunk, took 10.132 second
100000
Imported another chunk, took 10.177 second
100000
Imported another chunk, took 9.850 second
100000

/tmp/ipykernel_46859/270493617.py:4: DtypeWarning: Columns (6) have mixed types. Specify dtype option on import or set low_memory=False.
  df = next(df_iter)

Imported another chunk, took 10.223 second
69765
Imported another chunk, took 6.511 second

StopIteration: